
<div class="container-fluid p-3 m-1">
        <div class="row" >
                
            <div class="col-md-4 mt-3">
                <div class="content dashboard-container">
                    <a href="" class="nav-item nav-link d-flex align-items-center justify-content-left text-edit ">&nbsp;<mat-icon class="mat-icon-styled">warning</mat-icon> &nbsp;My Incidents</a>
                   <div class="dashboard-div-p-l">
                        <p><b>0</b> Drafts</p>
                        <p><b>3</b> Canceled</p>
                        <p><b>2</b> Executing</p>
                        <p><b>1</b> Completed</p>
                   </div>

                   <div class="dashboard-div-p-r">
                    <p style="text-align: center;">Total Incidents</p>
                    <p style="text-align: center; font-weight: bold; font-size: 30px; color: #cc0000;">6</p>
                    
                   </div>

                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div class="content dashboard-container">
                    <a href="" class="nav-item nav-link d-flex align-items-center justify-content-left text-edit ">&nbsp;<mat-icon class="mat-icon-styled">task</mat-icon> &nbsp;My Work Plans</a>
                    <div class="dashboard-div-p-l" >
                         <p><b>0</b> Drafts</p>
                         <p><b>3</b> Canceled</p>
                         <p><b>2</b> Executing</p>
                         <p><b>1</b> Completed</p>
                    </div>
 
                    <div class="dashboard-div-p-r" >
                     <p style="text-align: center;">Total Work Plans</p>
                     <p style="text-align: center; font-weight: bold; font-size: 30px; color: #2db300; ;">6</p>
                     
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div class="content dashboard-container">
                    <a class="nav-item nav-link d-flex align-items-center justify-content-left text-edit">&nbsp;<mat-icon>lock</mat-icon> &nbsp; My Safety Docs</a>
                    <div class="dashboard-div-p-l" >
                        <p><b>0</b> Drafts</p>
                        <p><b>3</b> Canceled</p>
                        <p><b>2</b> Executing</p>
                        <p><b>1</b> Completed</p>
                   </div>

                   <div class="dashboard-div-p-r"  >
                    <p style="text-align: center;">Total Safety Docs</p>
                    <p style="text-align: center; font-weight: bold; font-size: 30px; color: yellow; ;">6</p>
                    
                   </div>
                </div>
            </div>
        

        </div>

        

        <div class="row">

            <div class="col-md-7 mt-5 dashboard-container">
                <div><app-area-chart></app-area-chart></div>
            </div>

            <div class="col-md-5 mt-5 dashboard-container">
                    <div><app-pie-chart></app-pie-chart></div>
            </div>

        </div>
    </div>