<div class="container-fluid">
    <div class="row" >
      <div class="container rounded bg-white mt-5">

          <div class="row">
              <div class="col-md-12">
                  <app-state-change></app-state-change>
              </div>
          </div>

          <div class="row">
            <div class="col-md-12">
                <app-state-change></app-state-change>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <app-state-change></app-state-change>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <button class="button-add w-100" mat-button>Cancel</button>
            </div>

            <div class="col-md-4">
                <button class="button-add  w-100" mat-button>Approve</button>
            </div>

            <div class="col-md-4">
                <button class="button-add  w-100" mat-button>Deny</button>
            </div>
        </div>

      </div>
    </div>
</div>
