<div class="container mt-3" appDnd (fileDropped)="onFileDropped($event)">
    <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event)" />
    <img class="mb-1" src="assets/Images/dnd/ic-upload-file.svg" alt="">
    <h3>Drag and drop file</h3>
    <h3>or</h3>
    <h3>Click here</h3>
  </div>
  <div class="files-list">
    <div class="single-file w-75 m-auto" *ngFor="let fileUpload of files; let i = index">
      <img src="assets/Images/dnd/ic-file.svg" width="45px" alt="file">
      <div class="info">
        <h4 class="name">
          {{ fileUpload.file?.name }}
        </h4>
        <p class="size">
          {{ formatBytes(fileUpload.file.size) }}
        </p>

        <app-upload-progress [progress]="fileUpload.progress"></app-upload-progress>

      </div>
      <img src="assets/Images/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(fileUpload)">
    </div>
  </div>
