################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SmartEnergy/.vs/SmartEnergy/DesignTimeBuild/.dtbcache.v2
