<div class="container-fluid p-3 m-1">
    <div class="row" >
        <div class="container rounded bg-white mt-5">

            <div class="row">
                <div class="col-md-12">
                    <div class="p-3 py-5">
                        <mat-form-field class="w-75 m-auto" appearance="fill">
                            <mat-label>Cause</mat-label>
                            <mat-select (selectionChange)="causeSelectionChanged($event)">
                                <mat-option value="Failure">Failure</mat-option>
                                <mat-option value="Weather">Weather</mat-option>
                                <mat-option value="HumanError">Human error</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="shouldShowSubcauses">
                <div class="col-md-12">
                    <div class="p-3 py-5">
                        <mat-form-field class="w-75 m-auto" appearance="fill">
                            <mat-label>Subcause</mat-label>
                            <mat-select [formControl]="resolutionFormControl">
                                <mat-option  *ngFor="let value of subcauses" value="value">{{value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="p-3 py-5">
                        <mat-form-field class="w-75 m-auto" appearance="fill">
                            <mat-label>Construction type</mat-label>
                            <mat-select>
                                <mat-option value="None">None</mat-option>
                                <mat-option value="Underground">Underground</mat-option>
                                <mat-option value="Surface">Surface</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            
            <div class="row">
                <div class="col-md-12">
                    <div class="p-3 py-5">
                        <mat-form-field class="w-75 m-auto" appearance="fill">
                            <mat-label>Material</mat-label>
                            <mat-select>
                                <mat-option value="Metal">metal</mat-option>
                                <mat-option value="Plastics">Plastics</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
