<app-particles></app-particles>
<app-register-login-navbar></app-register-login-navbar>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        
        <div class="modal-background">
            <div class="d-flex justify-content-center sign_in_header">
                <h2>Sign in</h2>
            </div>
            <div class="d-flex justify-content-center login_form_div">
                
                <form  class="login_form">
                    
                    <div class="form-group">
                        <label class="login_labels" for="email">Email Address: </label>
                        <input type="email" class="form-control is-invalid" placeholder="Enter email" id="email">
                        <div class="invalid-feedback">
                            Please enter a valid email!
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label class="login_labels" for="password">Password: </label>
                        <input type="password" class="form-control is-invalid" placeholder="Enter password" id="password">
                        <div class="invalid-feedback">
                            Please enter a password!
                        </div>
                    </div>
            
                    <div></div>
                    <div class="form-group">
                        <small>
                            <a href="/" class="forgot_password">Forgot your password?</a> 
                        </small>
                        
                    </div>
            
                    <button type="submit" class="btn btn-light">Login</button>
                    
                    
                    <div class="social_network_div">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoGithub" title="Github"><i class="fab fa-github"></i></a></li>
                            <li><a href="#" class="icoInstagram" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google"><i class="fab fa-google"></i></a></li>
                        </ul>
                    </div>
            
                    <div class="form-group">
                        <small>
                            <p class="text-center">Don't have an account? <a href="" id="signup">Sign up here</a></p>
                        </small>
                        
                     </div>
                    
                    
            
                </form>
                
            </div>
        </div>
      </div>
    </div>
  </div>
