<div class="container-fluid p-3 m-1">
    <div class="row" >
        <div class="container rounded bg-white mt-5">

            <div class="row">
                <div class="col-md-12 d-flex justify-content-start">
                    <h1 class="p-3 pb-5">New Device</h1>
                </div>
             </div>

            <div class="row"  >
                <div class="col-md-12">
                    <div class="p-3 py-5">
                        <mat-form-field class="w-100 m-auto" appearance="fill">
                            <mat-label>Type</mat-label>
                            <mat-select >
                                <mat-option value="switch">Power Switch</mat-option>
                                <mat-option value="fuse">Fuse</mat-option>
                                <mat-option value="transformer">Transformer</mat-option>
                                <mat-option value="disconnector">Disconnector</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>



            
            <div class="row"  >
                <div class="col-md-6">
                    <div class="p-3 py-5">
                        <mat-form-field class="w-100">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Device name" value="">
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="p-3 py-5">
                        <mat-form-field class="w-100">
                            <mat-label>Address</mat-label>
                            <input type="text"
                                   placeholder="Pick one"
                                   aria-label="Number"
                                   matInput
                                   [formControl]="newDevice"
                                   [matAutocomplete]="auto">
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                    </div>
                </div>
                
             
            </div>



            

        </div>
    </div>
</div>

