/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.content-container {
    padding: 10px;
    margin-left: 20%;
    display: flex;
    position: relative;
    width: 100%;
  }
  
  .page-wrapper {
    background: rgb(242, 242, 242); 
    margin: 0;
    padding:0;
    width:100%;
    z-index: -1;
    height: 1000px;
  }
  
  @media only screen and (max-width: 1600px) {
    .content-container {
      margin-left: 200px;
      margin-right: auto;
    }
  }
  
  @media only screen and (max-width: 1350px) {
    .content-container {
      margin-left: 200px;
      max-width: 800px;
    }
  }
  
  
  @media only screen and (max-width: 990px) {
    .content-container {
      margin: auto;
    }
}
  

