<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand d-flex align-items-center justify-content-center">
    <img src="../../assets/Images/smart-energy-logo.png" width="50" height="50" alt="logo">
    Smart Energy
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto flex-column vertical-nav bg-dark">
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center justify-content-left">&nbsp;<mat-icon>dashboard</mat-icon> &nbsp; Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center justify-content-left">&nbsp;<mat-icon>search</mat-icon> &nbsp; Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center justify-content-left">&nbsp;<mat-icon>warning</mat-icon> &nbsp; Incidents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center justify-content-left">&nbsp;<mat-icon>task</mat-icon> &nbsp; My work plans</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center justify-content-left">&nbsp;<mat-icon>lock</mat-icon> &nbsp;Safety documents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center justify-content-left">&nbsp;<mat-icon>work</mat-icon>&nbsp; Work orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center justify-content-left">&nbsp;<mat-icon>map</mat-icon>&nbsp; Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center justify-content-left">&nbsp;<mat-icon>engineering</mat-icon>&nbsp; Crews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center justify-content-left">&nbsp;<mat-icon>outlet</mat-icon>&nbsp; Consumers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center justify-content-left">&nbsp;<mat-icon>people_alt</mat-icon>&nbsp; People</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center justify-content-left">&nbsp;<mat-icon>notifications</mat-icon>&nbsp; Notifications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center justify-content-left">&nbsp;<mat-icon>settings</mat-icon>&nbsp; Settings</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropleft">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item d-flex align-items-center justify-content-left" ><mat-icon>dashboard</mat-icon> Dashboard</a>
          <a class="dropdown-item d-flex align-items-center justify-content-left" ><mat-icon>account_circle</mat-icon> Edit Profile</a>
          <a class="dropdown-item d-flex align-items-center justify-content-left" ><mat-icon>logout</mat-icon> Log Out</a>
        </div>
      </li>   
    </ul>

  </div>
</nav>
