.user-name {
  color: white;
  font-size: 1.2vw;
  padding-right: 10px;
}

.border-li-style {
  border-right: 2px solid white;
}

.fill-div {
  width: 100%;
  height: 100%;
  border-right: 2px solid white;
}

.add-border {
  border-left: 2px solid white;
}

@media (min-width: 992px) {
  .vertical-nav {
    position: fixed;
    top: 48px;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #f8f8f8;
    overflow-y: auto;
    padding-top: 30px;
  }
}

@media (max-width: 992px) {
  .border-li-style {
    border-right: 0px solid white;
  }

  .fill-div {
    width: 100%;
    height: 100%;
    border-right: 0px solid white;
  }

  .add-border {
    border-left: 0px solid white;
  }
}
