
<div class="container-fluid pb-3 md-1">
    <div class="row" >
        <div class="col-md-12">
            <mat-tab-group dynamicHeight animationDuration="1000ms"  mat-stretch-tabs>
                <mat-tab label="Change password"><app-global-settings-change-password></app-global-settings-change-password></mat-tab>
                <mat-tab label="Streets priority"><app-global-settings-streets-priority></app-global-settings-streets-priority></mat-tab>
                <mat-tab label="Icons"><app-global-settings-icons></app-global-settings-icons></mat-tab>
                <mat-tab label="Notifications & Documents"><app-global-settings-notifications-documents></app-global-settings-notifications-documents></mat-tab>
                <mat-tab label="Reset default settings"><app-global-settings-reset-default></app-global-settings-reset-default></mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>