<div class="row">
    <div class="col-md-12">
        <mat-tab-group  animationDuration="2000ms"  mat-stretch-tabs>
            <mat-tab label="Basic Information"><app-work-plan-basic-information></app-work-plan-basic-information></mat-tab>
            <mat-tab label="History of state changes"><p>History here</p></mat-tab>
            <mat-tab label="Multimedia Attachments"><p>attachments</p></mat-tab>
            <mat-tab label="Equipment"><p>equipment</p></mat-tab>
            <mat-tab label="Switching instructions"><p>switching</p></mat-tab>
        </mat-tab-group>
    </div>
</div>
