.navbar_li_link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 25px;
  font-weight: bold;
  margin-right: 30px;
}

@media (max-width:450px) {    
  .navbar_li_link {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
  }
}