.content-container{
    padding: 10px;
    margin-left: 20%;
    height: 1000px;
    position: relative;
}

@media only screen and (max-width: 1600px) {
    .content-container {
      margin-left: 200px;
      margin-right:auto;
      height: 1000px;
    } 
  
  }

@media only screen and (max-width: 990px) {
.content-container {
    margin:auto;
    height: 1000px;  
} 

}