<div class="container-fluid page-wrapper">
<app-main-navbar></app-main-navbar>
<div class="container content-container" >
  <div class="container-fluid">
    <div class="row mt-3" style="color: white;">
      <div class="col-3 d-flex flex-row">
        <!--<div class="btn-group mr-0">
          <button type="button" class="btn btn-secondary dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <mat-icon>sort_by_alpha</mat-icon>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item">No sorting</a>
            <a class="dropdown-item">Start date ascending</a>
            <a class="dropdown-item">Start date descending</a>
            <a class="dropdown-item">End date ascending</a>
            <a class="dropdown-item">End date descending</a>
            <a class="dropdown-item">Creation date ascending</a>
            <a class="dropdown-item">Creation date descending</a>
          </div>
         
        </div>
        <div class="btn-group ml-n1" style="color: white;">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <mat-icon>filter_list</mat-icon>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item">Planned work</a>
            <a class="dropdown-item">Unplanned work</a>
            <a class="dropdown-item">Drafts</a>
            <a class="dropdown-item">Submitted documents</a>
            <a class="dropdown-item">Emergency work</a>
            <a class="dropdown-item">Normal work</a>
          </div>
        </div>-->

        <div style="background-color: rgba(230, 230, 230)"> 
        <mat-form-field appearance="fill">
          <mat-label>Filter</mat-label>
          <mat-select [formControl]="filtersControl" multiple>
            <mat-option *ngFor="let filterCriteria of filters" [value]="filterCriteria">{{filterCriteria}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      </div>

      <div class="col-6 d-flex justify-content-center"  style="color: white;">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> All
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off"> Mine
          </label>
        </div>
      </div>

      <div class="col-3 d-flex justify-content-end">
        <button type="button" class="btn btn-secondary d-flex justify-content-center">
          New&nbsp;<mat-icon>add_circle_outline</mat-icon>
        </button>
      </div>
    </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
        <div class="input-group-append">
          <button type="button" class="btn btn-secondary">Search</button>
          <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Incident</a>
            <a class="dropdown-item" href="#">Address</a>
            <a class="dropdown-item" href="#">Author name</a>
            <a class="dropdown-item" href="#">Company</a>
            <a class="dropdown-item" href="#">Phone number</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
    <table class="table" style="color:white">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Document type</th>
          <th scope="col">Phone No.</th>
          <th scope="col">Status</th>
          <th scope="col">Address</th>
          <th scope="col">Emergency</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Planned work</td>
          <td>022 462 484</td>
          <td>Draft</td>
          <td>Nikole Mijonica 12</td>
          <td>Yes</td> 
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12 d-flex justify-content-center">
    <nav  aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
    </div>
  </div> 
</div>
</div>
</div>