
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 9%;
  }

 /* @media only screen and (max-width: 800px) {
    .content-container {
      overflow-x: scroll;
    }

    .page-wrapper{
      min-width: 800px;
    }
  }*/

  a { color: inherit; } 

  .button-add {
    background-color: white;
    border: 2px solid black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    transition-duration: 0.4s;
    width: 20%;
  }

  .button-add:hover {
    background-color: black; /* Green */
    color: white;
  }

