<app-main-navbar></app-main-navbar>
<div class="container content-container">
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-3 d-flex flex-row">
        <div class="btn-group mr-0">
          <button type="button" class="btn btn-secondary dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <mat-icon>sort_by_alpha</mat-icon>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item">This</a>
            <a class="dropdown-item">That</a>
            <a class="dropdown-item">Something else here</a>
          </div>
        </div>
        <div class="btn-group ml-n1">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <mat-icon>filter_list</mat-icon>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item">This</a>
            <a class="dropdown-item">That</a>
            <a class="dropdown-item">Something else here</a>
          </div>
        </div>
      </div>

      <div class="col-6 d-flex justify-content-center hidden-xs hidden-sm">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> All
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off"> Mine
          </label>
        </div>
      </div>

      <div class="col-3 d-flex justify-content-end">
        <button type="button" class="btn btn-secondary d-flex justify-content-center">
          New&nbsp;<mat-icon>add_circle_outline</mat-icon>
        </button>
      </div>
    </div>

  <div class="row mt-3">
    <div class="col-md-12">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Start Date</th>
          <th scope="col">Phone No.</th>
          <th scope="col">Status</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>15.5.2021</td>
          <td>022 462 484</td>
          <td>Draft</td>
          <td>Nikole Mijonica 12</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>15.5.2021</td>
          <td>022 462 484</td>
          <td>Draft</td>
          <td>Nikole Mijonica 12</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>15.5.2021</td>
          <td>022 462 484</td>
          <td>Draft</td>
          <td>Nikole Mijonica 12</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>15.5.2021</td>
          <td>022 462 484</td>
          <td>Draft</td>
          <td>Nikole Mijonica 12</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12 d-flex justify-content-center">
    <nav  aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
    </div>
  </div> 
</div>
</div>
